<template>
  <v-row>
    <v-col
      cols="12"
      md="6"
      lg="3"
      v-for="(pokemon, index) in pokemons"
      :key="index"
    >
      <router-link class="no-text-decoration" :to="`/${pokemon.name}`">
        <v-card class="mx-auto my-12 poke-card" max-width="374">
          <Picture :id="index + 1" />

          <div class="title">
            <v-card-title class="text-capitalize">{{
              pokemon.name
            }}</v-card-title>
            <v-avatar color="success" :size="index + 1 < 100 ? 40 : 50">
              <span class="white--text headline">{{ index + 1 }}</span>
            </v-avatar>
          </div>

          <Stats :url="pokemon.url" />
        </v-card>
      </router-link>
    </v-col>
  </v-row>
</template>

<script>
import Picture from "./Picture.vue";
import Stats from "./Stats.vue";

export default {
  name: "Card",
  components: {
    Picture,
    Stats,
  },
  props: {
    pokemons: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  data: () => ({}),
};
</script>

<style lang="scss" scoped>
.no-text-decoration {
  text-decoration: none;
}

.poke-card {
  &:hover {
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75) !important;
    -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.75) !important;
    cursor: pointer;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .v-card__title {
      font-size: 1.5em !important;

      @media (max-width: 600px) {
        font-size: 1em !important;
      }
    }

    .headline {
      font-size: 1em !important;
    }
  }
}
</style>
