<template>
  <v-main>
    <Search />

    <Card :pokemons="pokemons" />

    <v-row class="text-center next-pokemons">
      <v-col cols="12">
        <v-btn v-if="next" color="primary" x-large @click="getPokemons">
          Get next 20 Pokemons
        </v-btn>
      </v-col>
    </v-row>
  </v-main>
</template>

<script>
import Search from "../components/Search.vue";
import Card from "../components/pokemon/Card.vue";
// import emmit_test from "../emmit_test.js";

export default {
  name: "Home",
  components: {
    Search,
    Card,
  },
  data: () => ({
    pokemons: [],
    next: "",
  }),
  mounted() {
    this.getPokemons();

    // emmit_test.on('foo', e => console.log('foo', e) );
  },
  methods: {
    getPokemons() {
      let url = "https://pokeapi.co/api/v2/pokemon";

      if (this.next) {
        url = this.next;
      }

      this.axios
        .get(url)
        .then((response) => {
          this.pokemons.push.apply(this.pokemons, response.data.results);

          this.next = response.data.next;
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style lang="scss" scoped>
.next-pokemons {
  margin-bottom: 120px;
}
</style>
