<template>
  <div class="container-not-found">
    <v-row>
      <v-col class="text-center">
        <v-img
          src="@/assets/psyduck.png"
          max-width="285"
          class="mx-auto"
        ></v-img>
        <div class="status">404</div>
        <div class="not-found">Page not found</div>
        <router-link to="/">Back to Home</router-link>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "PageNotFound",
};
</script>

<style lang="scss" scoped>
.container-not-found {
  margin-bottom: 200px;

  .status {
    font-size: 8em;
    font-weight: 700;
    margin-bottom: -20px;

    @media (max-width: 960px) {
      font-size: 4em;
    }
  }

  .not-found {
    font-size: 3em;

    @media (max-width: 960px) {
      font-size: 2em;
    }
  }
}
</style>
