<template>
  <div class="search">
    <v-row justify="end" align="center">
      <v-col cols="12" md="6" offset-md="2">
        <v-text-field
          label="Search Pokemon"
          v-model="text"
          background-color="white"
          height="28"
          @keyup.enter.native="getPokemons"
        ></v-text-field>
      </v-col>

      <v-col cols="5" md="4" offset-xs="7">
        <v-btn
          color="primary"
          :x-large="mobile"
          :disabled="invalid"
          @click="getPokemons"
        >
          Search
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
//import emmit_test from "../emmit_test.js";

export default {
  name: "Search",
  mounted() {},
  data: () => ({
    text: "",
  }),
  computed: {
    mobile() {
      if (this.$vuetify.breakpoint.width < 960) {
        return true;
      } else {
        return false;
      }
    },
    invalid() {
      if (this.text) {
        return false;
      }

      return true;
    },
  },
  methods: {
    getPokemons() {
      this.$router.push(`/result/${this.text}`);
      //emmit_test.emit("foo", "Testing");
    },
  },
};
</script>

<style lang="scss">
.theme--light.v-label {
  color: #1976d2;
  left: 10px !important;
}
</style>
